<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BananaBacana</display-name>
  
	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>br.servlets.cadastrarAlunoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet</servlet-name>
	<url-pattern>/CadastrarAluno</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>br.servlets.consultarAlunoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet1</servlet-name>
	<url-pattern>/ConsultarAluno</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>br.servlets.apagarAlunoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet2</servlet-name>
	<url-pattern>/ApagarAluno</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet3</servlet-name>
		<servlet-class>br.servlets.curso.consultarCursoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet3</servlet-name>
	<url-pattern>/ConsultarCurso</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet4</servlet-name>
		<servlet-class>br.servlets.curso.cadastrarCursoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet4</servlet-name>
	<url-pattern>/CadastrarCurso</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet5</servlet-name>
		<servlet-class>br.servlets.turma.consultarTurmaController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet5</servlet-name>
	<url-pattern>/ConsultarTurma</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet6</servlet-name>
		<servlet-class>br.servlets.turma.cadastrarTurmaController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet6</servlet-name>
	<url-pattern>/CadastrarTurma</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet7</servlet-name>
		<servlet-class>br.servlets.professor.consultarProfessorController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet7</servlet-name>
	<url-pattern>/ConsultarProfessor</url-pattern>	
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>servlet8</servlet-name>
		<servlet-class>br.servlets.semestre.consultarSemestreController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet8</servlet-name>
	<url-pattern>/ConsultarSemestre</url-pattern>	
	</servlet-mapping>
  
	
	<servlet>
		<servlet-name>servlet9</servlet-name>
		<servlet-class>br.servlets.disciplina.consultarDisciplinaController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet9</servlet-name>
	<url-pattern>/ConsultarDisciplina</url-pattern>	
	</servlet-mapping>
  
	
	
	<servlet>
		<servlet-name>servlet11</servlet-name>
		<servlet-class>br.servlets.buscar.buscarAlunoController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet11</servlet-name>
	<url-pattern>/buscarAluno</url-pattern>	
	</servlet-mapping>
  
	
	
	<servlet>
		<servlet-name>servlet12</servlet-name>
		<servlet-class>br.servlets.matDisciplina.matriculaAlunoDisciplinaController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet12</servlet-name>
	<url-pattern>/MatriculaAlunoDisciplina</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet13</servlet-name>
		<servlet-class>br.servlets.cadastro.cadastrarMatriculaAlunoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet13</servlet-name>
	<url-pattern>/CadastrarMatriculaAluno</url-pattern>	
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>servlet14</servlet-name>
		<servlet-class>br.servlets.buscarNota.buscarNotaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet14</servlet-name>
	<url-pattern>/buscarNota</url-pattern>	
	</servlet-mapping>
  
	
	
	<servlet>
		<servlet-name>servlet15</servlet-name>
		<servlet-class>br.servlets.nota.notaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet15</servlet-name>
	<url-pattern>/CadastrarNota</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servlet16</servlet-name>
		<servlet-class>br.servlets.alterarAlunoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet16</servlet-name>
	<url-pattern>/AlterarAluno</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet17</servlet-name>
		<servlet-class>br.servlets.professor.cadastrarProfessorController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet17</servlet-name>
	<url-pattern>/CadastrarProfessor</url-pattern>	
	</servlet-mapping>
  
	
	<servlet>
		<servlet-name>servlet18</servlet-name>
		<servlet-class>br.servlets.semestre.cadastrarSemestreController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet18</servlet-name>
	<url-pattern>/CadastrarSemestre</url-pattern>	
	</servlet-mapping>
  
	
	
	<servlet>
		<servlet-name>servlet19</servlet-name>
		<servlet-class>br.servlets.disciplina.cadastrarDisciplinaController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet19</servlet-name>
	<url-pattern>/CadastrarDisciplina</url-pattern>	
	</servlet-mapping>
  
	
	
	<servlet>
		<servlet-name>servlet20</servlet-name>
		<servlet-class>br.servlets.funcionario.cadastrarFuncionarioController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet20</servlet-name>
	<url-pattern>/CadastrarFuncionario</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet21</servlet-name>
		<servlet-class>br.servlets.curso.alterarCursoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet21</servlet-name>
	<url-pattern>/AlterarCurso</url-pattern>	
	</servlet-mapping>
  
	<servlet>
		<servlet-name>servlet22</servlet-name>
		<servlet-class>br.servlets.curso.apagarCursoController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servlet22</servlet-name>
	<url-pattern>/ApagarCurso</url-pattern>	
	</servlet-mapping>
  
	
	
</web-app>