body{
    background: black;
    font-family: "Quicksand", sans-serif;
    color:white;
  }
  
  .container{
    
    /* background: rgba(211, 211, 211, 0.568); */
    padding: 20px;
    border-radius: 25px;
    /* display: inline-block; */
    width: 30% ;
    margin:  10px auto;
  }
  
  .leadForm{
    background: rgba(211, 211, 211, 0.568);
    padding: 20px;
    border-radius: 25px;
    display: inline-block;
    /* width: ; */
  }
  
  .formField{
    display: inline-block;
    margin:0 15px;
    padding:0 10px;
    /* background: aquamarine; */
  }
  
  .submitButton{
    /* background: antiquewhite; */
    width:500px;
    height: 40px;
    border-radius: 35px;
    border: none;
  }
  .submitInput{
    width:150px;
    height: 40px;
    border-radius: 35px;
    border: none;
  
  }
  
  label{
    /* background: brown; */
    font-size: 150%;
    padding: 10px;
    padding-bottom: 0;
    margin: 5px 10px;
  }
  
  .formInput{
    border-radius: 50px;
    padding: 15px;
    width: 20%;
    /* margin-top: 0; */
    /* margin: 10px; */
    margin-bottom: 10px;
  }
  
  ::placeholder{
    font-family: "Quicksand", sans-serif;    
  }
