<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
       <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            window.onload = function() {
                var recaptcha = document.getElementById("g-recaptcha-response");
                recaptcha.required = true;
                recaptcha.oninvalid = function(e) {
                    // do something
                    alert("Please complete the captcha");
                }
            }
        </script>
        <script>
            function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
        </script>
    <title>Success Motors Forms</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
</head>
<body>   
    <div class="container">
        <div class="leadForm">     

            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                
            <input type=hidden name='captcha_settings' value='{"keyname":"meow","fallback":"true","orgId":"00D5i000002Pj58","ts":""}'>
            <input type=hidden name="oid" value="00D5i000002Pj58">
                <!--<input type=hidden name='captcha_settings' value='{"keyname":"REcaptchaDemo","fallback":"true","orgId":"00D5i000002Pj58","ts":""}'>
                //<input type=hidden name="oid" value="00D5i000002Pj58">-->
                <input type=hidden name="retURL" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ">            
                
                <!--<div class="formField"><label for="company_name">Company Name:<input required="true" placeholder="Company Name" class="formInput" id="00N5i000004LWec" maxlength="50" name="00N5i000004LWec" pattern="^[A-Za-zА-Яа-яЁё\s]+$" size="20" type="text" /><br></div>
                    -->
                <div class="formField"><label for="company">Company:</label><input required="true" class="formInput" placeholder="Company Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$"  id="company" maxlength="50" name="company" size="20" type="text" /><br></div>
            
                <div class="formField"><label for="first_name">First Name</label><input required="true" class="formInput" placeholder="First Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="last_name">Last Name</label><input required="true" class="formInput" placeholder="Last Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="email">Email</label><input pattern=".+\.com" required class="formInput" placeholder="example@example.com" id="email" maxlength="80" name="email" size="20" type="email" /><br></div>
                
                <div class="formField"><label for="phone">Phone</label><input class="formInput" required="true" placeholder="Phone" pattern="^[0-9]+$" id="phone" maxlength="40" name="phone" size="20" type="phone" /><br></div>

                <div class="formField" ><label for="product">Product:</label>
                    <select required="true" id="00N5i000004LWeh" name="00N5i000004LWeh"></select><br>
                </div>  
                <script> 
                    var productList =  [
                        {
                          label: "Renaul Logan",
                          //value: "R001C1"
                        },
                        {
                          label: "Renault Logan Stepway",
                          //value: "R002C2"
                        },
                        {
                          label: "Renault Sandero",
                       
                          //value: "R003C3"
                        },
                        {
                          label: "Renault Sandero Stepway", 
                          //value: "R003C3"
                        },
                        {
                          label: "K7M ", 
                          //value: "R005E1"
                        },
                        {
                          label: "K4M", 
                          //value: "R006E2"
                        },
                        {
                          label: "H4M", 
                          //value: "R007E3"
                        },
                        {
                          label: "Kia Rio", 
                          //value: "HK001C1"
                        },
                        {
                          label: "Kia Rio X-Line", 
                          //value: "HK002C2"
                        },
                        {
                          label: "Hyundai Accent", 
                          //value: "HK003C3"
                        },
                        {
                          label: "Hyundai Solaris", 
                          //value: "HK004C4"
                        },
                        {
                          label: "G4LC", 
                          //value: "HK005E1"
                        },
                        {
                          label: "G4FG", 
                          //value: "HK006E2"
                        },
                        {
                          label: "Volkswagen Polo Sedan", 
                          //value: "VAG001C1"
                        },
                        {
                          label: "Volkswagen Polo 2021", 
                          //value: "VAG002C2"
                        },
                        {
                          label: "Skoda Rapid", 
                          //value: "VAG003C3"
                        },
                        {
                          label: "CZCA", 
                          //value: "VAG004E1"
                        },
                        {
                          label: "CFW", 
                          //value: "VAG005E2"
                        },
                        {
                          label: "CWVA", 
                          //value: "VAG006E3"
                        },
                        {
                          label: "CFNA", 
                          //value: "VAG007E4"
                        },
                        {
                          label: "CFNB", 
                          //value: "VAG008E5"
                        },
                        {
                          label: "Lada Vesta", 
                          //value: "L001C1"
                        },
                        {
                          label: "Lada Xray", 
                          //value: "L002C2"
                        },
                        {
                          label: "VAZ-21179", 
                          //value: "L003E1"
                        },
                        {
                          label: "VAZ-21129", 
                          //value: "L004E2"
                        },
                        {
                          label: "Carpets Renault", 
                          //value: "R008A1"
                        },
                        {
                          label: "Carpets Hyundai", 
                          //value: "HK007A1"
                        },
                        {
                          label: "Carpets Kia", 
                          //value: "HK008A2"
                        },
                        {
                          label: "Carpets Volkswagen", 
                          //value: "VAG009A1"
                        },
                        {
                          label: "Carpets Skoda", 
                          //value: "VAG010A2"
                        },
                        {
                          label: "Carpets Lada", 
                          //value: "L005A1"
                        },
                        {
                          label: "Phone holder Xiaomi", 
                          //value: "MI001A1"
                        }
                        ];
                    var selectTag = document.getElementById("00N5i000004LWeh"); 
                    
                    productList.forEach(function(item, index, array) {
                    var opt = document.createElement("option");
                    opt.text = item.label;
                    opt.value = item.value;
                    selectTag.add(opt);
                    selectTag.appendChild(opt);
                    });                    
                </script>
                <div class="g-recaptcha" data-sitekey="6Lc-3m4gAAAAAG-Z2AI_W7xvJZw3kpu6VMlPbecy"></div><br>

                <!--<div class="g-recaptcha" data-sitekey="6LeUxVAgAAAAAFSZeS97UwWb1qy2cyKUlHfm27tl"></div><br>-->
                <div class="submitButton"><input class="submitInput" type="submit" name="submit"></div>
            </form>
        </div>
    </div>
</body>
</html>
