<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
         function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
        </script>
    <title>Success Motors Forms</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
</head>
<body>   
    <div class="container">
        <div class="leadForm">     

    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    
    <input type=hidden name='captcha_settings' value='{"keyname":"REcaptchaDemo","fallback":"true","orgId":"00D5i000002Pj58","ts":""}'>
    <input type=hidden name="oid" value="00D5i000002Pj58">
    <input type=hidden name="retURL" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                
                
                <div class="formField"><label for="company">Company Name:</label><input required="true" class="formInput" placeholder="Company Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$"  id="company" maxlength="50" name="company" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="first_name">First Name</label><input required="true" class="formInput" placeholder="First Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="last_name">Last Name</label><input required="true" class="formInput" placeholder="Last Name" pattern="^[A-Za-zА-Яа-яЁё\s]+$" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="email">Email</label><input required="true" class="formInput" placeholder="Email" id="email" maxlength="80" name="email" size="20" type="email" /><br></div>
                
                <div class="formField"><label for="phone">Phone</label><input class="formInput" required="true" placeholder="Phone" pattern="^[0-9]+$" id="phone" maxlength="40" name="phone" size="20" type="phone" /><br></div>

<!--                 <div class="formField"><label for="product">Product:</label><select required="true" id="00N5i000004LWeh" name="00N5i000004LWeh"> -->

                <!-- Product:<input  id="00N5i000004LWeh" maxlength="100" name="00N5i000004LWeh" size="20" type="text" /><br> -->



                <div class="formField"><label for="product">Product:</label>
                    <select required="true" id="00N5i000004LWeh" name="00N5i000004LWeh">
                                <option value="ProductCode">Car</option>
                                <option value="ProductCode">Part</option>
                                <option value="ProductCode">Accessory</option>
                            </select><br></div>
                <div 
                     class="g-recaptcha"
                     required="true" 
                     data-sitekey="6LeUxVAgAAAAAFSZeS97UwWb1qy2cyKUlHfm27tl"
                     data-callback="onRecaptchaSuccess"
                     data-expired-callback="onRecaptchaResponseExpiry"
                     data-error-callback="onRecaptchaError">
                </div><br>

                <div class="submitButton"><input class="submitInput" type="submit" name="submit"></div>
            </form>
        </div>
    </div>
</body>
</html>
