<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Motors Forms</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
</head>
<body>   
    <div class="container">
        <div class="leadForm">     

            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            
                <input type=hidden name="oid" value="00D5i000002Pj58">
                <input type=hidden name="retURL" value="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                
                
                <div class="formField"><label for="company_name">Company Name:</label><input required="true" class="formInput" placeholder="Company Name" id="00N5i000004LWec" maxlength="50" name="00N5i000004LWec" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="first_name">First Name</label><input required="true" class="formInput" placeholder="First Name" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="last_name">Last Name</label><input required="true" class="formInput" placeholder="Last Name" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br></div>
                
                <div class="formField"><label for="email">Email</label><input required="true" class="formInput" placeholder="Email" id="email" maxlength="80" name="email" size="20" type="email" /><br></div>
                
                <div class="formField"><label for="phone">Phone</label><input class="formInput" required="true" placeholder="Phone" id="phone" maxlength="40" name="phone" size="20" type="phone" /><br></div>

                <div class="formField"><label for="product">Product:</label><select required="true" id="00N5i000004LWeh" name="00N5i000004LWeh">
                    <option value="Car">R001C1</option>
                    <option value="Part">Part</option>
                    <option value="Accessory">Accessory</option>
                </ select></div>
                <div class="submitButton"><input class="submitInput" type="submit" name="submit"></div>
            </form>
        </div>
    </div>
</body>
</html>
