
.cadastrarFuncionarioForm {
	display: flex; 
	flex-direction: column;
	padding: 45px;
	width: 650px; 
	height: 1200px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 4%;
	border-radius: 15px; 
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	align-items: center;
	align-self: center; 
}
.cadastrarFuncionarioForm input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #a0becd;
}
.cadastrarFuncionarioForm div {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	background-color: #c3d9fd;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}