@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	background-color: #d8ebf9;
	text-decoration: none;
	list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
	display: center;
	width: 100px;
	height: 30px;
	line-height: 40px;
	padding: 12px 5px;
	margin: -4px;
	background-color: #729fcf;
	color: #eeeeec;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.buscarnome {
	background-color: #c3d9fd;
}
strong {
	background-color: #c3d9fd;
}
span {
	display: flex;
	width: 900px;
	height: 30px;
	padding: 12px 5px;
	background-color: #c3d9fd;
	color: #3465a4;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.me {
	display: flex;
	width: 500px;
	height: 40px;
	height: 10px;
	background-color: #3465a4;
	color: #eeeeec;
	text-align: center;
	font-weight: width;
}
.meuh1 {
	display: flex;
	width: 600px;
	height: 40px;
	height: 10px;
	background-color: #3465a4;
	color: #eeeeec;
	text-align: center;
	font-weight: width;
}
.meua {
	display: center;
	font-size: 28px;
	background-color: #3465a4;
	color: #204a87;
	text-align: center;
	font-weight: width;
}
h2 {
	font-size: 34px;
}
h2, h3 {
	background-color: #c3d9fd;
	color: #3465a4;
}
img, li {
	background-color: #3465a4;
	border-radius: 5px;
}
.lim {
	background-color: #c3d9fd;
}
.menu {
	display: flex;
	flex-direction: row;
	gap: 2,4rem;
	width: 100%;
	justify-content: center;
	padding: 0.9rem;
	background-color: #3465a4;
	color: white;
	font-weight: bold;
}
.bananaMain {
	background-image: url("/BananaBacana/img/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.matriculaDisMain {
	background-image: url("../img/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.bananaNav ul {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	width: 100%;
	justify-content: center;
	padding: 0.9rem;
	background-color: #3465a4;
	color: #babdb6;
	font-weight: bold;
}
.fo {
	display: flex;
	padding: 50px;
	width: 40px;
	height: 40px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 4px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 900px;
	align-items: center;
	align-self: center;
}
.foy {
	display: flex;
	flex-direction: column;
	padding: 45px;
	width: 400px;
	height: 430px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 900px;
	align-items: center;
	align-self: center;	
}
.bananaForm {
	display: flex; 
	flex-direction: column;
	padding: 45px;
	width: 400px; 
	height: 430px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 15px; 
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 900px; 
	align-items: center;
	align-self: center; 
}
.matriculaDisForm {
	display: flex; 
	flex-direction: column;
	padding: 45px;
	width: 40px; 
	height: 300px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 15px; 
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 600px; 
	align-items: center;
	align-self: center; 
}
.calunoForm {
	display: flex;
	flex-direction: column;
	padding: 945px;
	width: 900px;
	height: 930px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 900px;
	align-items: center;
	align-self: center;
}
.consultarcurso {
	display: flex;
	flex-direction: column;
	padding: 45px;
	width: 400px;
	height: 200px;
	background-color: #c3d9fd;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 900px;
	align-items: center;
	align-self: center; 
}
.bananaForm input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #a0becd;
}
.matriculaDisForm input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #a0becd;
}
.calunoForm input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #a0becd;
}
.consultarcurso input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #a0becd;
}
.consultarcurso div {
	display: flex;
	align-items: center;
	background-color: #c3d9fd;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}
.bananaForm div {
	display: flex;
	align-items: center;
	background-color: #c3d9fd;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}
.matriculaDisForm div {
	display: flex;
	align-items: center;
	background-color: #c3d9fd;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}
.calunoForm div {
	display: flex;
	align-items: center;
	background-color: #c3d9fd;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}
#bananaButton {
	background-color: #729fcf;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#Balterar {
	background-color: #fff08e;
	color: #babdb6;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 30px;
	padding: 10px;
	width: 100px;
	height: auto;
}
#Bapagar {
	background-color: #ef2929;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	width: 100px;
	position: 500px;
	height: auto;
}


.btn{

    padding: 10px;
    background: blueviolet;
     display: inline-block; 
     color: white;
     position: absolute;
     top: 80%;
     left: 50%;
     transform: translate(-50%,-50%);
     cursor: pointer;

}

.btn:hover{

    background: aliceblue;
    color: black;


}

.modal {
	
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
    position: absolute;
     top: 20%;
     left: 45%;
     transform: translate(-50%,-50%);
     display: none;
     animation: animate; 
     animation-duration: 800ms; 
} 
@keyframes animate{

    from{opacity: 1;}
    from{opacity: 0;}
}


.fechar{

    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}







